In [83]:
# Importing pandas for data wrangling
import pandas as pd
# Reading dataset into python
orig_data = pd.read_csv('/Users/jackbonacci/Downloads/train.csv')
# Preliminary exploratory analysis
orig_data.describe(include='all')
# Had to export in order to see summary statistics for each of the 29 columns.
# Need to figure out how to do this without exiting notebook.
orig_data.to_csv('/Users/jackbonacci/Downloads/export.csv')

In [34]:
# Trimming dataset based on NA values before using '.dropna()' 
## because some variables with missing values either have outliers ('number_of_reviews'),
###are uninformative ('thumbnail_url','first_review','last_review', 'id'),
#### or are redundant ('neighbourhood'  is a less precise way of measuring lat and long).
trimmed_data = orig_data.drop(columns=['id', 'first_review', 'last_review', 'neighbourhood', 'thumbnail_url', 'number_of_reviews'])
# Checking data
trimmed_data.describe(include='all')

,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,...,host_response_rate,host_since,instant_bookable,latitude,longitude,name,review_scores_rating,zipcode,bedrooms,beds
count,74111.000000,74111,74111,74111,74111.000000,73911.000000,74111,74111,74111,74111,...,55812,73923,74111,74111.000000,74111.000000,74111,57389.000000,73145,74020.000000,73980.000000
unique,NaN,35,3,67122,NaN,NaN,5,5,2,6,...,80,3087,2,NaN,NaN,73359,NaN,769,NaN,NaN
top,NaN,Apartment,Entire home/apt,{},NaN,NaN,Real Bed,strict,True,NYC,...,100%,2015-03-30,f,NaN,NaN,Bunk bed in the Treat Street Clubhouse,NaN,11211.0,NaN,NaN
freq,NaN,49003,41310,586,NaN,NaN,72028,32374,54403,32349,...,43254,246,54660,NaN,NaN,8,NaN,1368,NaN,NaN
mean,4.782069,NaN,NaN,NaN,3.155146,1.235263,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.445958,-92.397525,NaN,94.067365,NaN,1.265793,1.710868
std,0.717394,NaN,NaN,NaN,2.153589,0.582044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.080167,21.705322,NaN,7.836556,NaN,0.852143,1.254142
min,0.000000,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.338905,-122.511500,NaN,20.000000,NaN,0.000000,0.000000
25%,4.317488,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,34.127908,-118.342374,NaN,92.000000,NaN,1.000000,1.000000
50%,4.709530,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.662138,-76.996965,NaN,96.000000,NaN,1.000000,1.000000
75%,5.220356,NaN,NaN,NaN,4.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.746096,-73.954660,NaN,100.000000,NaN,1.000000,2.000000
max,7.600402,NaN,NaN,NaN,16.000000,8.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.390437,-70.985047,NaN,100.000000,NaN,10.000000,18.000000

In [35]:
# Dropping NAs from trimmed dataset. 
complete = trimmed_data.dropna()
# Hopefully didn't lose many observations 
complete.describe(include ='all')
## **Need to drop observations where log_price is 0**

,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,...,host_response_rate,host_since,instant_bookable,latitude,longitude,name,review_scores_rating,zipcode,bedrooms,beds
count,47249.000000,47249,47249,47249,47249.000000,47249.000000,47249,47249,47249,47249,...,47249,47249,47249,47249.000000,47249.000000,47249,47249.000000,47249,47249.000000,47249.000000
unique,NaN,32,3,43830,NaN,NaN,5,5,2,6,...,77,3004,2,NaN,NaN,46952,NaN,710,NaN,NaN
top,NaN,Apartment,Entire home/apt,{},NaN,NaN,Real Bed,strict,True,NYC,...,100%,2014-02-14,f,NaN,NaN,Bunk bed in the Treat Street Clubhouse,NaN,90291,NaN,NaN
freq,NaN,29652,27125,122,NaN,NaN,45982,24407,38838,19165,...,37369,153,33373,NaN,NaN,8,NaN,972,NaN,NaN
mean,4.750929,NaN,NaN,NaN,3.324409,1.239878,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.364100,-93.218728,NaN,94.216386,NaN,1.281466,1.794683
std,0.675137,NaN,NaN,NaN,2.236491,0.582830,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.149020,21.707139,NaN,7.216313,NaN,0.864653,1.321989
min,0.000000,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.338905,-122.511500,NaN,20.000000,NaN,0.000000,0.000000
25%,4.304065,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,34.107355,-118.345112,NaN,92.000000,NaN,1.000000,1.000000
50%,4.700480,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.650424,-77.026028,NaN,96.000000,NaN,1.000000,1.000000
75%,5.164786,NaN,NaN,NaN,4.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.750943,-73.954662,NaN,99.000000,NaN,1.000000,2.000000
max,7.600402,NaN,NaN,NaN,16.000000,8.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.390437,-71.000462,NaN,100.000000,NaN,10.000000,18.000000

In [36]:
# Checking to see how many observations are lost when first applying .dropna() to orig_data instead of trimming columns first
check = orig_data.dropna()
check.describe(include='all')

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
count,3.850200e+04,38502.000000,38502,38502,38502,38502.000000,38502.000000,38502,38502,38502,...,38502.000000,38502.000000,38502,38502,38502.000000,38502.000000,38502,38502,38502.000000,38502.000000
unique,NaN,NaN,31,3,36204,NaN,NaN,5,5,2,...,NaN,NaN,38290,586,NaN,NaN,38496,653,NaN,NaN
top,NaN,NaN,Apartment,Entire home/apt,{},NaN,NaN,Real Bed,strict,True,...,NaN,NaN,"Location, Location, Location",Williamsburg,NaN,NaN,https://a0.muscache.com/im/pictures/61042471/5...,11221,NaN,NaN
freq,NaN,NaN,24752,21495,58,NaN,NaN,37405,19734,31563,...,NaN,NaN,5,1523,NaN,NaN,2,727,NaN,NaN
mean,1.123236e+07,4.745546,NaN,NaN,NaN,3.233754,1.215197,NaN,NaN,NaN,...,38.759075,-90.895232,NaN,NaN,32.975014,94.332217,NaN,NaN,1.252402,1.759259
std,6.084071e+06,0.658015,NaN,NaN,NaN,2.137687,0.551349,NaN,NaN,NaN,...,3.007696,21.446666,NaN,NaN,45.420254,6.876715,NaN,NaN,0.836481,1.287905
min,9.410000e+02,0.000000,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,...,33.705835,-122.511500,NaN,NaN,1.000000,20.000000,NaN,NaN,0.000000,0.000000
25%,6.233497e+06,4.304065,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,...,34.185077,-118.326008,NaN,NaN,5.000000,92.000000,NaN,NaN,1.000000,1.000000
50%,1.218796e+07,4.700480,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,...,40.682550,-74.001777,NaN,NaN,16.000000,96.000000,NaN,NaN,1.000000,1.000000
75%,1.638125e+07,5.164786,NaN,NaN,NaN,4.000000,1.000000,NaN,NaN,NaN,...,40.760402,-73.949291,NaN,NaN,42.000000,99.000000,NaN,NaN,1.000000,2.000000
max,2.123090e+07,7.600402,NaN,NaN,NaN,16.000000,8.000000,NaN,NaN,NaN,...,42.390437,-71.000462,NaN,NaN,542.000000,100.000000,NaN,NaN,10.000000,18.000000

In [70]:
# Saved nearly 10,000 observations by trimming first. Use 'complete' as dataset. 
# Need to partition training and testing dataset (70/30 split)
# First need to split dependent variable and indepenent varaibles 
y = complete.loc[:,'log_price']
x = complete.loc[:,'property_type':'beds']
#importing function to split into training and teseting sets
from sklearn.cross_validation import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25)

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [80]:
print(xtrain.describe())
print(xtest.describe())
print(ytrain.describe())
print(ytest.describe())

       accommodates     bathrooms      latitude     longitude  \
count  35436.000000  35436.000000  35436.000000  35436.000000
mean       3.319421      1.240730     38.370215    -93.180024
std        2.241315      0.587334      3.148248     21.693252
min        1.000000      0.000000     33.338905   -122.511500
25%        2.000000      1.000000     34.107960   -118.344285
50%        2.000000      1.000000     40.650747    -77.025406
75%        4.000000      1.000000     40.751609    -73.954729
max       16.000000      8.000000     42.390437    -71.000462

       review_scores_rating      bedrooms          beds
count          35436.000000  35436.000000  35436.000000
mean              94.204933      1.279828      1.791116
std                7.261007      0.869748      1.315673
min               20.000000      0.000000      1.000000
25%               92.000000      1.000000      1.000000
50%               96.000000      1.000000      1.000000
75%              100.000000      1.000000      2.000000
max              100.000000     10.000000     18.000000
       accommodates     bathrooms      latitude     longitude  \
count  11813.000000  11813.000000  11813.000000  11813.000000
mean       3.339372      1.237323     38.345758    -93.334830
std        2.221986      0.569123      3.151397     21.749249
min        1.000000      0.000000     33.339007   -122.509251
25%        2.000000      1.000000     34.105825   -118.347600
50%        2.000000      1.000000     40.648633    -77.028112
75%        4.000000      1.000000     40.749037    -73.954370
max       16.000000      8.000000     42.389772    -71.006182

       review_scores_rating      bedrooms          beds
count          11813.000000  11813.000000  11813.000000
mean              94.250741      1.286379      1.805384
std                7.080743      0.849203      1.340756
min               20.000000      0.000000      0.000000
25%               92.000000      1.000000      1.000000
50%               96.000000      1.000000      1.000000
75%               99.000000      2.000000      2.000000
max              100.000000     10.000000     16.000000
count    35436.000000
mean         4.749123
std          0.676367
min          0.000000
25%          4.276666
50%          4.700480
75%          5.170484
max          7.600402
Name: log_price, dtype: float64
count    11813.000000
mean         4.756343
std          0.671431
min          2.302585
25%          4.317488
50%          4.700480
75%          5.164786
max          7.598399
Name: log_price, dtype: float64